@media screen and (max-width: 600px) {
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--styling-color-2);
    .control {
      margin: 0.5rem 0.3rem;
      width: 40px;
      height: 40px;
    }
    .active-btn {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }
  }
  .theme-btn {
    top: 1%;
    width: 40px;
    height: 40px;
  }

  .main-btn {
    font-weight: 500;
    .btn-text {
      padding: 0.5rem;
      font-size: 0.9rem;
      text-align: center;
    }
    .btn-icon {
      padding: 0.5rem;
      font-size: 0.9rem;
      border: 1px solid var(--styling-color-1);
    }
  }

  .main-title {
    h2 {
      font-size: 2.5rem;
      font-weight: 700;
      .bg-text {
        font-size: 4rem;
      }
    }
  }

  .header {
    padding: 0 !important;
    flex-direction: column;
    gap: 1.5rem;
    .home-content {
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 2.5rem;
        text-align: center;
      }
      h3 {
        font-size: 1.3rem;
        text-align: center;
      }
      .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .social-icons a {
        font-size: 1.5rem;
        padding-right: 0.8rem;
      }
    }
    .buttons-container {
      justify-content: center;
      align-items: center;
    }

    .home-img {
      min-width: 50vw;
      min-height: 50vw;
      max-width: 50vw;
      max-height: 50vw;
    }
  }
  .about-container {
    grid-template-columns: repeat(1, 1fr);
    max-width: 100vw;
    padding: 1rem;
    .left-about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      padding: 1rem 0;
      h4 {
        font-size: 1.5rem;
      }
      p {
        font-size: 0.9rem;
        line-height: inherit;
        padding: 0.5rem;
      }
    }
    .right-about {
      grid-gap: 1rem;
      padding: 1rem 2rem;
      .about-item {
        .abt-text {
          padding: 1.1rem;
          .large-text {
            font-size: 1.5rem;
          }
          .small-text {
            padding-left: 1.5rem;
            font-size: 1rem;
            letter-spacing: inherit;
            &::before {
              top: 10px;
              width: 1rem;
            }
          }
        }
      }
    }
  }
  .about-stats {
    padding: 0 1rem;
    margin-bottom: 3rem;
    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 0;
      font-size: 0.9rem;
      gap: 0.8rem;
      span {
        padding: 0.4rem;
        border-radius: 0.5rem;
      }
    }
    .stat-title {
      font-size: 1.5rem;
      text-align: center;
      padding: 1rem 0;
    }
  }

  .timeline-items {
    padding: 3rem 1rem;
    margin: 0 auto;
    max-width: 100vw;
    &::before {
      width: 3px;
    }
    .timeline-item {
      &:nth-child(odd) {
        padding-right: calc(50% + 20px);
      }
      &:nth-child(even) {
        padding-left: calc(50% + 20px);
      }
    }
    .timeline-dot {
      height: 15px;
      width: 15px;
      box-shadow: 0 0 10px var(--styling-color-1);
      left: calc(50% - 7px);
    }
    .timeline-date {
      font-size: 0.9rem;
      font-weight: 700;
      color: var(--secondary-text-color);
      margin: 6px 0 15px;
    }
    .timeline-content {
      padding: 1rem;
      border-radius: 2rem;
      h3 {
        font-size: 1rem;
        font-weight: 600;
        margin: 0 0 5px;
      }
      p {
        font-size: 0.8rem;
        line-height: inherit;
      }
    }
  }
}
