@media screen and (max-width: 600px) {
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--styling-color-2);
    .control {
      margin: 0.7rem 0.3rem;
    }
  }
  .theme-btn {
    top: 1%;
  }

  .main-btn {
    font-weight: 500;
    .btn-text {
      padding: 0.5rem;
      font-size: 0.9rem;
      text-align: center;
    }
    .btn-icon {
      padding: 0.5rem;
      font-size: 0.9rem;
      border: 1px solid var(--styling-color-1);
    }
  }

  .header {
    padding: 0 !important;
    flex-direction: column;
    gap: 1.5rem;
    .home-content {
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 2.5rem;
        text-align: center;
      }
      h3 {
        font-size: 1.3rem;
        text-align: center;
      }
      .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .social-icons a {
        font-size: 1.5rem;
        padding-right: 0.8rem;
      }
    }
    .buttons-container {
      justify-content: center;
      align-items: center;
    }

    .home-img {
      min-width: 50vw;
      min-height: 50vw;
      max-width: 50vw;
      max-height: 50vw;
    }
  }
}
