* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --primary-background-color: #e8eceb;
  --secondary-background-color: #e09e50;
  --primary-text-color: #2d3e4e;
  --secondary-text-color: #8cbdb9;
  --shadow-color-1: #342628;
  --styling-color-1: #788402;
  --styling-color-2: #feaa00;
  --transition-value-1: all 0.4s ease-in-out;
  --box-shadow-1: 0 3px 15px var(--shadow-color-1);
}

.dark-mode {
  --primary-background-color: #2d3e4e;
  --secondary-background-color: #8cbdb9;
  --primary-text-color: #e8eceb;
  --secondary-text-color: #e09e50;
  --shadow-color-1: #e09e50;
  --styling-color-1: #788402;
  --styling-color-2: #feaa00;
}

body {
  background-color: var(--primary-background-color);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--primary-text-color);
  transition: var(--transition-value-1);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  color: var(--primary-text-color);
  overflow: hidden;
  padding: 2rem 5rem;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: none;
  transform: translateY(-100%) scale(0);
  background-color: var(--primary-background-color);
}

.active {
  display: block;
  animation: appear 1s ease-in-out;
  transform: translateY(0) scaleY(1);
}
@keyframes appear {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--secondary-background-color);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow-1);
}
.controls .control i {
  font-size: 1.2rem;
  color: var(--primary-text-color);
  pointer-events: none;
}
.controls .active-btn {
  background-color: var(--primary-background-color);
  transition: all 0.4s ease-in-out;
}
.controls .active-btn i {
  color: var(--styling-color-2);
}

.theme-btn {
  top: 2%;
  right: 1%;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--secondary-background-color);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-1);
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  transform: translateY(-3px);
}
.theme-btn i {
  font-size: 1.4rem;
  color: var(--primary-text-color);
  pointer-events: none;
}

/* Header Section */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  cursor: default;
}
.header .home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  text-align: left;
}
.header .home-content span {
  color: var(--secondary-text-color);
}
.header .home-content h1 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}
.header .home-content .social-icons a {
  font-size: 2rem;
  color: var(--primary-text-color);
  transition: var(--transition-value-1);
  padding-right: 0.5rem;
}
.header .home-content .social-icons a:hover {
  transform: scale(1.1);
}
.header .home-img {
  position: relative;
  max-width: 30vw;
  max-height: 30vw;
  min-height: 30vw;
  min-width: 30vw;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--secondary-text-color);
  box-shadow: var(--box-shadow-1);
  transition: var(--transition-value-1);
  z-index: 2;
  background: transparent;
}
.header .home-img:hover .avatar-picture {
  animation: move 10s;
}
@keyframes move {
  30% {
    transform: translateX(-100%);
  }
}
.header .home-img:hover .profile-picture {
  opacity: 1;
}
.header .home-img:active .avatar-picture {
  animation: move 10s;
}
@keyframes move {
  30% {
    transform: translateX(-100%);
  }
}
.header .home-img:active .profile-picture {
  opacity: 1;
}
.header .home-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .home-img .profile-picture {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 50%;
}
.header .home-img .avatar-picture {
  opacity: 1;
  border-radius: 50%;
  animation: reveal 2s infinite;
}
@keyframes reveal {
  50% {
    transform: translateX(-3%);
  }
}
.header .buttons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

/* Header - Typing Animation */
.text-animation {
  font-size: 3rem;
  font-weight: 500;
  margin: 1rem 0;
}

.text-animation span {
  position: relative;
}

.text-animation span::before {
  content: "Software Developer";
  color: var(--primary-text-color);
  animation: words 20s infinite;
}

.text-animation span::after {
  content: "";
  background-color: var(--primary-background-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--primary-background-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid var(--primary-text-color);
  }
}
@keyframes words {
  0%, 20% {
    content: "Software Developer";
  }
  21%, 40% {
    content: "Front-End Developer";
  }
  41%, 60% {
    content: "Full-Stack Developer";
  }
  61%, 80% {
    content: "UI/UX Designer";
  }
  81%, 100% {
    content: "Software Designer";
  }
}
@keyframes typing {
  10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
    width: 0;
  }
  5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
    width: calc(100% + 8px);
  }
}
/* About Section */
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem 12rem;
}
.about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about-container .right-about .about-item {
  border: 1px solid var(--secondary-text-color);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}
.about-container .right-about .about-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--primary-text-color);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}
.about-container .right-about .about-item .abt-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.about-container .right-about .about-item .abt-text .large-text {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-secondary);
}
.about-container .right-about .about-item .abt-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: var(--color-grey-1);
  letter-spacing: 2px;
}
.about-container .right-about .about-item .abt-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: var(--secondary-text-color);
}
.about-container .left-about {
  padding-right: 2.5rem;
  margin: auto;
}
.about-container .left-about p {
  line-height: 1.8rem;
  color: var(--primary-text-color);
  text-align: justify;
}
.about-container .left-about h4 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.skills {
  display: grid;
  grid-template-columns: repeat(6, 6fr);
  padding: 0 15rem;
  text-align: center;
  font-size: 1.1rem;
  gap: 1rem;
  cursor: default;
}
.skills span {
  padding: 0.5rem;
  border: 2px solid var(--primary-text-color);
  border-radius: 1rem;
}
.skills .highlight {
  background-color: var(--primary-text-color);
  color: var(--primary-background-color);
}

.stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 2rem 0;
  position: relative;
}
.stat-title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  height: 1px;
  background-color: var(--secondary-text-color);
  transform: translateX(-50%);
}

/* Timeline Section */
.timeline-items {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 70vw;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.timeline-items::before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  background-color: var(--primary-text-color);
  left: calc(50% - 1px);
}
.timeline-items .timeline-item {
  margin-bottom: 1rem;
  width: 100%;
  position: relative;
}
.timeline-items .timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-items .timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-items .timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}
.timeline-items .timeline-dot {
  height: 21px;
  width: 21px;
  background-color: var(--primary-text-color);
  box-shadow: 0 0 25px var(--box-shadow-1), 0 0 50px var(--box-shadow-1);
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 9px);
  top: 10px;
}
.timeline-items .timeline-date {
  font-size: 20px;
  font-weight: 800;
  color: var(--secondary-text-color);
  margin: 6px 0 15px;
}
.timeline-items .timeline-content {
  background-color: var(--secondary-background-color);
  border: 3px solid var(--primary-text-color);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--box-shadow-1);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.timeline-items .timeline-content:hover {
  box-shadow: 0 0 25px var(--secondary-text-color);
  transform: scale(1.05);
}
.timeline-items .timeline-content h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-text-color);
  margin: 0 0 10px;
}
.timeline-items .timeline-content p {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

/* Projects Section */
.project-items {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project-items .project-item {
  display: flex;
  border: 2px solid var(--secondary-text-color);
  align-items: center;
  margin: 1.2rem 10rem;
  box-shadow: 0 0 5px gray;
  overflow: hidden;
  max-width: 60%;
  border-radius: 2rem;
  transition: all 0.4s ease-in-out;
}
.project-items .project-item .img-container {
  width: 20vw;
  height: 20vw;
}
.project-items .project-item .img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 20vw;
  min-width: 20vw;
  max-height: 20vw;
  max-width: 20vw;
}
.project-items .project-item .project-content {
  padding: 1rem;
}
.project-items .project-item:first-child {
  margin-top: 4rem;
}
.project-items .project-item:hover {
  transform: scale(1.02);
}

.all-projects {
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

/* Contact Section */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 12rem;
  flex-direction: column;
}
.contact-container .form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}
.contact-container .form input,
.contact-container .form textarea {
  width: 30vw;
  font-family: inherit;
  background: transparent;
  border: 2px solid var(--secondary-text-color);
  line-height: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: inherit;
  color: var(--primary-text-color);
  resize: vertical;
}
.contact-container .form input:focus,
.contact-container .form textarea:focus {
  outline: 2px solid var(--secondary-text-color);
}
.contact-container .form button {
  width: 10vw;
  padding: 0.3rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  border-radius: 0.5rem;
  color: var(--primary-text-color);
  background: transparent;
  border: 2px solid var(--secondary-text-color);
  cursor: pointer;
}
.contact-container .form button:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 5px var(--secondary-text-color);
}

/*Independed components*/
.btn-con {
  display: flex;
  align-self: flex-start;
  margin: 1rem 0;
}

.main-btn {
  border-radius: 30px;
  color: var(--secondary-text-color);
  font-weight: 600;
  position: relative;
  border: 1px solid var(--primary-text-color);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 1rem;
}
.main-btn .btn-icon {
  background-color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.main-btn:hover {
  transition: all 0.4s ease-out;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--primary-text-color);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}

.main-title {
  text-align: center;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}
.main-title h2 span {
  color: var(--secondary-text-color);
}
.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--styling-color-2);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6rem;
  opacity: 0.3;
}/*# sourceMappingURL=styles.css.map */