* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --background-1: white;
  --text-background-1: #2d3e4e;
  --text-background-2: #5d6163;
  --transition-1: all 0.4s ease-in-out;
  --shadow-1: 0 0 15px rgba(0, 0, 0, 0.7);
  --styling-color-1: #e09e50;
  --styling-color-2: #17b1b9;
  --heading-color: black;
  --shadow-2: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.dark-mode {
  --background-1: #2d3e4e;
  --text-background-1: #e8eceb;
  --text-background-2: #c5b59a;
  --transition-1: all 0.4s ease-in-out;
  --shadow-1: 0 0 15px black;
  --styling-color-2: #01edfa;
  --heading-color: white;
}

body {
  background-color: var(--background-1);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: var(--text-background-1);
  transition: var(--transition-1);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  color: var(--text-background-1);
  overflow: hidden;
  padding: 2rem 5rem;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: none;
  transform: translateY(-100%) scale(0);
  background-color: var(--primary-background-color);
}

.active {
  display: block;
  animation: appear 1s ease-in-out;
  transform: translateY(0) scaleY(1);
}
@keyframes appear {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--background-1);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem 0;
  border: 2px solid var(--text-background-1);
}
.controls .control i {
  font-size: 1.2rem;
  color: var(--text-background-1);
  pointer-events: none;
}
.controls .active-btn {
  background-color: var(--text-background-1);
  transition: all 0.4s ease-in-out;
  box-shadow: var(--shadow-1);
}
.controls .active-btn i {
  color: var(--background-1);
}

.theme-btn {
  top: 2%;
  right: 1%;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--secondary-background-color);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
  border: 2px solid var(--text-background-1);
}
.theme-btn:active {
  transform: translateY(-3px);
}
.theme-btn i {
  font-size: 1.2rem;
  color: var(--text-background-1);
  pointer-events: none;
}

/* Header Section */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  cursor: default;
}
.header .home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  text-align: left;
}
.header .home-content .colored-name {
  color: var(--styling-color-1);
}
.header .home-content h1 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}
.header .home-content .social-icons a {
  font-size: 1.7rem;
  color: var(--text-background-1);
  transition: var(--transition-1);
  padding-right: 0.5rem;
}
.header .home-content .social-icons a:hover {
  transform: scale(1.2);
  transition: var(--transition-1);
}
.header .home-img {
  position: relative;
  max-width: 30vw;
  max-height: 30vw;
  min-height: 30vw;
  min-width: 30vw;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--styling-color-2);
  z-index: 2;
  background: transparent;
}
.header .home-img:hover .avatar-picture, .header .home-img:active .avatar-picture {
  animation: move 10s;
}
@keyframes move {
  30% {
    transform: translateX(-100%);
  }
}
.header .home-img:hover .profile-picture, .header .home-img:active .profile-picture {
  opacity: 1;
}
.header .home-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .home-img .profile-picture {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 50%;
}
.header .home-img .avatar-picture {
  opacity: 1;
  border-radius: 50%;
  animation: reveal 2s infinite;
}
@keyframes reveal {
  50% {
    transform: translateX(-3%);
  }
}
.header .buttons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

/* Header - Typing Animation */
.text-animation {
  font-size: 3rem;
  font-weight: 500;
  margin: 1rem 0;
}

.text-animation span {
  position: relative;
}

.text-animation span::before {
  content: "Software Developer";
  color: var(--text-background-1);
  animation: words 20s infinite;
}

.text-animation span::after {
  content: "";
  background-color: var(--background-1);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--background-1);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid var(--text-background-1);
  }
}
@keyframes words {
  0%, 20% {
    content: "Software Developer";
  }
  21%, 40% {
    content: "Front-End Developer";
  }
  41%, 60% {
    content: "Full-Stack Developer";
  }
  61%, 80% {
    content: "UI/UX Designer";
  }
  81%, 100% {
    content: "Software Designer";
  }
}
@keyframes typing {
  10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
    width: 0;
  }
  5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
    width: calc(100% + 8px);
  }
}
/* About Section */
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem 12rem;
}
.about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about-container .right-about .about-item {
  border: 2px solid var(--styling-color-1);
  border-radius: 5px;
  transition: var(--transition-1);
}
.about-container .right-about .about-item:hover {
  cursor: default;
  transform: translateY(-5px);
  box-shadow: var(--shadow-2);
}
.about-container .right-about .about-item .abt-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.about-container .right-about .about-item .abt-text .large-text {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-background-2);
}
.about-container .right-about .about-item .abt-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: var(--text-background-1);
  letter-spacing: 2px;
}
.about-container .right-about .about-item .abt-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: var(--styling-color-1);
}
.about-container .left-about {
  padding-right: 2.5rem;
  margin: auto;
}
.about-container .left-about p {
  line-height: 1.8rem;
  color: var(--text-background-1);
  text-align: justify;
}
.about-container .left-about h4 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--styling-color-1);
}

.skills {
  display: grid;
  grid-template-columns: repeat(6, 6fr);
  padding: 0 15rem;
  text-align: center;
  font-size: 1.1rem;
  gap: 1rem;
  cursor: default;
}
.skills span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: 2px solid var(--text-background-1);
  border-radius: 1rem;
}
.skills .highlight {
  background-color: var(--text-background-1);
  color: var(--background-1);
}

.stat-title {
  text-transform: uppercase;
  font-size: 2.5rem;
  text-align: center;
  padding: 2rem 0;
  position: relative;
  color: var(--styling-color-1);
}
.stat-title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  height: 1px;
  background-color: var(--text-background-2);
  transform: translateX(-50%);
}

/* Timeline Section */
.timeline-items {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 70vw;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.timeline-items::before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  background-color: var(--styling-color-1);
  left: calc(50% - 1px);
}
.timeline-items .timeline-item {
  margin-bottom: 1rem;
  width: 100%;
  position: relative;
}
.timeline-items .timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-items .timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-items .timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}
.timeline-items .timeline-item .education {
  border: 2px solid var(--text-background-2);
  background: transparent;
  color: var(--text-background-1);
}
.timeline-items .timeline-dot {
  height: 21px;
  width: 21px;
  background-color: var(--styling-color-1);
  box-shadow: 0 0 15px var(--styling-color-1);
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 9px);
  top: 10px;
}
.timeline-items .timeline-date {
  font-size: 20px;
  font-weight: 800;
  color: var(--secondary-text-color);
  margin: 6px 0 15px;
}
.timeline-items .timeline-content {
  background-color: var(--text-background-2);
  padding: 30px 50px;
  border-radius: 4rem;
  cursor: pointer;
  transition: var(--transition-1);
  color: var(--background-1);
}
.timeline-items .timeline-content:hover {
  box-shadow: var(--shadow-2);
  transform: scale(1.02);
  border: 2px solid var(--styling-color-1);
  transition: var(--transition-1);
}
.timeline-items .timeline-content h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-text-color);
  margin: 0 0 7px;
}
.timeline-items .timeline-content p {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

/* Projects Section */
.project-items {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: default;
}
.project-items .project-item {
  display: flex;
  border: 2px solid var(--text-background-2);
  align-items: center;
  margin: 1.2rem 10rem;
  overflow: hidden;
  max-width: 60%;
  border-radius: 2rem;
  transition: var(--transition-1);
}
.project-items .project-item .img-container {
  width: 20vw;
  height: 20vw;
}
.project-items .project-item .img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 20vw;
  min-width: 20vw;
  max-height: 20vw;
  max-width: 20vw;
}
.project-items .project-item .project-content {
  padding: 1rem;
}
.project-items .project-item .project-content h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--styling-color-1);
}
.project-items .project-item .project-content p {
  font-size: 0.9rem;
  text-align: justify;
}
.project-items .project-item:first-child {
  margin-top: 4rem;
}
.project-items .project-item:hover {
  transform: scale(1.02);
  box-shadow: var(--shadow-2);
}
.project-items .project-item:last-child .project-content {
  cursor: pointer;
}

.all-projects {
  text-align: center;
  text-transform: uppercase;
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--styling-color-1);
}

/* Contact Section */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 12rem;
  flex-direction: column;
}
.contact-container h4 {
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: var(--styling-color-1);
}
.contact-container .contact-btns {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.contact-container .contact-btns .contact-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 2px solid var(--text-background-2);
  border-radius: 1rem;
  cursor: pointer;
  transition: var(--transition-1);
}
.contact-container .contact-btns .contact-btn i {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.contact-container .contact-btns .contact-btn span {
  font-size: 0.9rem;
}
.contact-container .contact-btns .contact-btn:hover {
  transform: scale(1.02);
  box-shadow: var(--shadow-2);
}
.contact-container .form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}
.contact-container .form input,
.contact-container .form textarea {
  width: 30vw;
  font-family: inherit;
  background: transparent;
  border: 2px solid var(--text-background-2);
  line-height: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: inherit;
  color: var(--text-background-1);
  resize: vertical;
}
.contact-container .form input:focus,
.contact-container .form textarea:focus {
  outline: 2px solid var(--text-background-2);
}
.contact-container .form button {
  width: 10vw;
  padding: 0.3rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  border-radius: 0.5rem;
  color: var(--text-background-1);
  background: transparent;
  border: 2px solid var(--text-background-2);
  cursor: pointer;
}
.contact-container .form button:active {
  transform: scale(3px);
  box-shadow: var(--shadow-2);
}

/*Independed components*/
.btn-con {
  display: flex;
  align-self: flex-start;
  margin: 1rem 0;
}

.main-btn {
  border-radius: 30px;
  color: var(--text-background-1);
  font-weight: 600;
  position: relative;
  border: 2px solid var(--text-background-1);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 1rem;
}
.main-btn .btn-icon {
  background-color: var(--styling-color-1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
  border: 2px solid var(--styling-color-1);
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.main-btn:hover, .main-btn:active {
  transition: all 0.4s ease-out;
}
.main-btn:hover::before, .main-btn:active::before {
  width: 100%;
  height: 100%;
  background-color: var(--styling-color-1);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}

.main-title {
  text-align: center;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}
.main-title h2 span {
  color: var(--styling-color-2);
}
.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--styling-color-2);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6rem;
  opacity: 0.15;
}

@media screen and (max-width: 600px) {
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--styling-color-2);
  }
  .controls .control {
    margin: 0.5rem 0.3rem;
    width: 40px;
    height: 40px;
  }
  .controls .active-btn {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }
  .theme-btn {
    top: 1%;
    width: 40px;
    height: 40px;
  }
  .main-btn {
    font-weight: 500;
  }
  .main-btn .btn-text {
    padding: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
  }
  .main-btn .btn-icon {
    padding: 0.5rem;
    font-size: 0.9rem;
    border: 1px solid var(--styling-color-1);
  }
  .main-title h2 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .main-title h2 .bg-text {
    font-size: 4rem;
  }
  .header {
    padding: 0 !important;
    flex-direction: column;
    gap: 1.5rem;
  }
  .header .home-content {
    align-items: center;
    justify-content: center;
  }
  .header .home-content h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .header .home-content h3 {
    font-size: 1.3rem;
    text-align: center;
  }
  .header .home-content .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .home-content .social-icons a {
    font-size: 1.5rem;
    padding-right: 0.8rem;
  }
  .header .buttons-container {
    justify-content: center;
    align-items: center;
  }
  .header .home-img {
    min-width: 50vw;
    min-height: 50vw;
    max-width: 50vw;
    max-height: 50vw;
  }
  .about-container {
    grid-template-columns: repeat(1, 1fr);
    max-width: 100vw;
    padding: 1rem;
  }
  .about-container .left-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem 0;
  }
  .about-container .left-about h4 {
    font-size: 1.5rem;
  }
  .about-container .left-about p {
    font-size: 0.9rem;
    line-height: inherit;
    padding: 0.5rem;
  }
  .about-container .right-about {
    grid-gap: 1rem;
    padding: 1rem 2rem;
  }
  .about-container .right-about .about-item .abt-text {
    padding: 1.1rem;
  }
  .about-container .right-about .about-item .abt-text .large-text {
    font-size: 1.5rem;
  }
  .about-container .right-about .about-item .abt-text .small-text {
    padding-left: 1.5rem;
    font-size: 1rem;
    letter-spacing: inherit;
  }
  .about-container .right-about .about-item .abt-text .small-text::before {
    top: 10px;
    width: 1rem;
  }
  .about-stats {
    padding: 0 1rem;
    margin-bottom: 3rem;
  }
  .about-stats .skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    font-size: 0.9rem;
    gap: 0.8rem;
  }
  .about-stats .skills span {
    padding: 0.4rem;
    border-radius: 0.5rem;
  }
  .about-stats .stat-title {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0;
  }
  .timeline-items {
    padding: 3rem 1rem;
    margin: 0 auto;
    max-width: 100vw;
  }
  .timeline-items::before {
    width: 3px;
  }
  .timeline-items .timeline-item:nth-child(odd) {
    padding-right: calc(50% + 20px);
  }
  .timeline-items .timeline-item:nth-child(even) {
    padding-left: calc(50% + 20px);
  }
  .timeline-items .timeline-dot {
    height: 15px;
    width: 15px;
    box-shadow: 0 0 10px var(--styling-color-1);
    left: calc(50% - 7px);
  }
  .timeline-items .timeline-date {
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--secondary-text-color);
    margin: 6px 0 15px;
  }
  .timeline-items .timeline-content {
    padding: 1rem;
    border-radius: 2rem;
  }
  .timeline-items .timeline-content h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 5px;
  }
  .timeline-items .timeline-content p {
    font-size: 0.8rem;
    line-height: inherit;
  }
}/*# sourceMappingURL=styles.css.map */